body {
    margin: 0;
    
}

.img-container {
    display: flex;
    justify-content: space-between;
}

img {
    height: 300px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}



.player {
    margin: 0;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.computer {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 50px;
    text-align: center;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: right;
}

